
/* --------------- Color chart --------------- */

/* Blue: #0065FC
Lighter blue: #DEEBFF
Grey: #F2F2F2*/

/* --------------- Fonts --------------- */

@font-face
{
    font-family: "Raleway";
    src: url(fonts/Raleway-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face
{
    font-family: "Raleway";
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: 500;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DÉFINIR PLUSIEURS POLICES ? */

html, input
{
    font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
    font-weight: 300;
}

h1, h2, input, #inscription
{
    font-weight: bold;
}

h1
{
    font-size: large;
}

h2, input
{
    font-size: medium;
}

li, p
{
    font-size: small;
}

/* --------------- Links --------------- */

a, a:visited
{
    color: inherit;
    text-decoration: none;
}

a:hover, a.active
{
    color: #0065FC;
}

/* --------------- Body --------------- */

body
{
    width: 100%;
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER TAILLE MAXIMALE CENTRÉE SI ÉCRAN TROP GRAND */
    display: flex;
    flex-wrap: wrap;
}


/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */

header
{
    width: 100%;
    padding-right: 1em;
}

#header_band
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --------------- Logo and inscription --------------- */

#logo
{
    max-height: 2.5em;
    padding-top: 2em;
    padding-left: 2em;
}

#inscription
{
    color: #0065FC;
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

#inscription:hover
{
    background-color: #DEEBFF;
}


/* =================================== */
/* =============== NAV =============== */
/* =================================== */

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX LAISSER BANDE BLEUE ET SÉLECTION */

nav
{
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX POSITIONNEMENT EN ABSOLUTE */
    position: absolute;
    top: 2em;
    right: 10em;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav_el
{
    padding-top: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.nav_el:hover, .nav_el:active
{
    border-top: 2px #0065FC solid;
}


/* ====================================================== */
/* =============== SECTION - PRESENTATION =============== */
/* ====================================================== */

#presentation
{
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* --------------- Introduction --------------- */

#introduction
{
    margin-bottom: 0.5em;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER L'ESPACEMENT ENTRE LES DEUX PHRASES */

/* --------------- Research --------------- */

#research
{
    display: flex;
    flex-direction: row;
}

#place_icon
{
    background-color: #F2F2F2;
    width: 1em;
    height: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1.2em;
}

#research_form
{
    display: flex;      /* No space between type bar and button */
}

#research_type
{
    border: 1px #F2F2F2 solid;
    padding: 1em;
}

#research_type::placeholder
{
    color: black;
}

#research_button
{
    background-color: #0065FC;
    color: white;
    border: 0px white solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
}

/* --------------- Filters --------------- */

#filters
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER LE RETOUR À LA LIGNE SUR TEL */
}

#filters h2
{
    margin-right: 1em;
}

.filter
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px #F2F2F2 solid;
    border-radius: 2em;
}

.filter:hover
{
    background-color: #F2F2F2;
}

.f_icon
{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.7em;
    padding: 0.8em;
    border-radius: 2em;
    background-color: #DEEBFF;
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER LE PASSAGE DEVANT DE L'ICÔNE */
}

/* --------------- Information --------------- */

#info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info_icon
{
    width: 0.6em;
    height: 0.6em;
    padding: 0.3em;
    margin-right: 0.5em;
    border: 0.1em #F2F2F2 solid;
    border-radius: 2em;
}


/* ====================================================== */
/* =============== SECTION - HEBERGEMENTS =============== */
/* ====================================================== */

#heb_pop
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 2em;
}

#heb_d
{
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER LA DISPOSITION */
    max-width: 60%;
    background-color: #F2F2F2;
    border-radius: 0.75em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

#heb_title
{
    min-width: 100%;
    margin-left: 1em;
}

.heb
{
    width: 28%;
    background-color: white;
    margin: 1em;
    border: 4px white solid;
    border-radius: 0.75em;
    box-shadow: 0.5em 0.5em 1em #F2F2F2;
}

.heb_img
{
    width: 300px;
    max-width: 100%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

#heb_remark
{
    min-width: 100%;
    margin-left: 1em;
}

.description
{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.description h2
{
    margin: 0em;
}

.star_y, .star_n
{
    width: 1em;
    height: 1em;
}


/* ============================================================= */
/* =============== SECTION - LES PLUS POPULAIRES =============== */
/* ============================================================= */

#pop_d
{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 0.75em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

#pop_title
{
    min-width: 100%;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pop_icon
{
    width: 1em;
    height: 1em;
    margin: 1em;
    margin-right: 2em;
}

.pop
{
    background-color: white;
    margin: 1em;
    border: 4px white solid;
    border-radius: 0.75em;
    box-shadow: 0.5em 0.5em 1em #F2F2F2;
    display: flex;
    flex-direction: row;
}

.pop_img
{
    max-width: 45%;
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}

.pop .stars
{
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER L'ALIGNEMENT EN BAS DU BLOC */
}


/* =================================================== */
/* =============== SECTION - ACTIVITES =============== */
/* =================================================== */

#activ_s
{
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER LA DISPOSITION */
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
}

#activ_title
{
    min-width: 100%;
}

.activ
{
    background-color: white;
    margin: 1em;
    border: 0px white none;
    border-radius: 0.75em;
    box-shadow: 0.5em 0.5em 1em #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.act_img
{
    width: 300px;
    max-width: 100%;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
}


/* ====================================== */
/* =============== FOOTER =============== */
/* ====================================== */

footer
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_el
{
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GÉRER LE RETOUR À LA LIGNE */
    width: 25%;
    margin: 2em;
}

.footer_el h2
{
    margin-bottom: 1.2em;
}