
/* --------------- Color chart --------------- */

/* Blue: #0065FC
Lighter blue: #DEEBFF
Grey: #F2F2F2
Darker grey: #E3E3E3
Dark grey: #D9D9D9 */

/* --------------- Fonts --------------- */

@font-face
{
    font-family: "Raleway";
    src: url(fonts/Raleway-Light.ttf) format('truetype');
    font-weight: 400;
}

@font-face
{
    font-family: "Raleway";
    src: url(fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: 500;
}

html, input
{
    font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
    font-weight: 400;
}

h1, h2, input, #inscription, strong
{
    font-weight: 500; /* bold */
}

h1
{
    font-size: 22px;
}

h2
{
    font-size: medium;
}

li, p
{
    font-size: small;
}

h2, .filters_name
{
    font-size: 17px;
}

@media only screen and (max-width: 767px)
{
    .filters_name
    {
        font-size: 15px;
    }
}

input, #heb_remark, footer h2
{
    font-size: large;
}

nav li, #presentation p, footer p
{
    font-size: medium;
}

/* --------------- Links --------------- */

a, a:visited
{
    color: inherit;
    text-decoration: none;
}

a:hover, a.active
{
    color: #0065FC;
}

/* --------------- Body --------------- */

body
{
    max-width: 1440px;
    background-color: white;
    margin: 0 auto;
}


/* ====================================== */
/* =============== HEADER =============== */
/* ====================================== */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* --------------- Logo --------------- */

#logo
{
    height: 50px;
    margin-left: 50px;
    padding-top: 40px;
    padding-bottom: 35px;
}

@media only screen and (max-width: 767px)
{
    #logo
    {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/* =================================== */
/* =============== NAV =============== */
/* =================================== */

nav
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

#nav_elements
{
    display: flex;
    flex-direction: row;
}

nav a
{
    padding: 35px;
    padding-top: 53px;
    padding-bottom: 53px;
    border-top: 3px transparent solid;
}

.nav_el:hover, .nav_el:active
{
    border-top: 3px #0065FC solid;
}

@media only screen and (max-width: 767px)
{
    nav
    {
        width: 100%;
        flex-direction: column-reverse;
    }

    #nav_elements
    {
        width: 100%;
        justify-content: space-between;
    }

    nav a
    {
        padding: 15px;
    }

    .nav_el
    {
        border-top: 0px;
        border-bottom: 4px #F2F2F2 solid;
        margin-bottom: 30px;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .nav_el:hover, .nav_el:active
    {
        border-top: 0px;
        border-bottom: 4px #0065FC solid;
    }
}

#inscription
{
    margin-right: 50px;
    color: #0065FC;
}

@media only screen and (max-width: 767px)
{
    #inscription
    {
        margin-top: 3px;
        margin-right: 0px;
        padding: 30px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

#inscription:hover
{
    background-color: #DEEBFF;
}


/* ====================================================== */
/* =============== SECTION - PRESENTATION =============== */
/* ====================================================== */

#presentation
{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    #presentation
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* --------------- Introduction --------------- */

#introduction
{
    margin-bottom: 1em;
}

#introduction h1
{
    margin-block-start: 0;
    margin-block-end: 0;
}

#introduction p
{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* --------------- Research --------------- */

#research
{
    height: 50px;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 767px)
{
    #research
    {
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }
}

#place_icon
{
    background-color: #F2F2F2;
    width: 16px;
    height: 16px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 17px;
}

#research_form
{
    display: flex;      /* No space between type bar and button */
}

#research_type
{
    height: 50px;
    border: 1px #F2F2F2 solid;
    padding-left: 15px;
    padding-right: 20px;
}

@media only screen and (max-width: 767px)
{
    #research_form
    {
        width: 100%;
    }

    #research_type
    {
        width: calc(100% - 20px);
    }
}

#research_type::placeholder
{
    color: black;
    opacity: 1;
}

#research_button
{
    background-color: #0065FC;
    color: white;
    border: 0px white solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#research_button:hover
{
    background-color: #DEEBFF;
    color: #0065FC;
}

@media only screen and (max-width: 767px)
{
    #research_button
    {
        display: none;
    }
}

#research_icon
{
    background-color: #0065FC;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    padding: 17px;
    position: absolute;
    z-index: 2;
    right: 0px;
}

#research_icon:active
{
    background-color: #DEEBFF;
}

@media only screen and (min-width: 768px)
{
    #research_icon
    {
        display: none;
    }
}


/* --------------- Filters --------------- */

#filters
{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#filters_title
{
    margin-left: 5px;
    margin-right: 30px;
}

#filters_div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

.f_icon
{
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 21px;
    height: 21px;
    padding: 15px;
    position: absolute;
    z-index: 2;
    left: 0px;
}

.filters_name
{
    border: 2px #D9D9D9 solid;
    border-radius: 40px;
    height: 47px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px)
{
    .filters_name
    {
        margin-right: 10px;
        padding-right: 15px;
    }
}

.filters_name:hover
{
    background-color: #F2F2F2;
}

/* --------------- Information --------------- */

#info
{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#info_icon
{
    width: 10px;
    height: 10px;
    padding: 5px;
    margin-right: 10px;
    border: 1px #F2F2F2 solid;
    border-radius: 40px;
}

#info p
{
    margin-block-start: 1px;
    margin-block-end: 1px;
}


/* ====================================================== */
/* =============== SECTION - HEBERGEMENTS =============== */
/* ====================================================== */

#heb_pop
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-left: 30px;
    margin-right: 30px;
}

@media only screen and (max-width: 767px)
{
    #heb_pop
    {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#heb_d
{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    #heb_d
    {
        background-color: white;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1440px)
{
    #heb_d
    {
        width: 61%; /*840px;*/
    }
}

#heb_title
{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#heb1
{
    grid-area: heb1;
}

#heb2
{
    grid-area: heb2;
}

#heb3
{
    grid-area: heb3;
}

#heb4
{
    grid-area: heb4;
}

#heb5
{
    grid-area: heb5;
}

#heb6
{
    grid-area: heb6;
}

#heb_block
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(200px, auto));
    grid-gap: 0px;
    grid-template-areas: "heb1 heb2 heb3"
                         "heb4 heb5 heb6";
}

@media only screen and (max-width: 1023px)
{
    #heb_block
    {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(200px, auto));
        grid-gap: 0px;
        grid-template-areas: "heb1"
                             "heb2"
                             "heb3"
                             "heb4"
                             "heb5"
                             "heb6";
    }
}

.heb
{
    height: 200px;
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 5px #E3E3E3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media only screen and (max-width: 767px)
{
    .heb
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.heb_img
{
    width: 100%;
    height: 59%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    /*flex: 0 1 auto;*/
}

#heb_remark
{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

#heb_remark:hover
{
    color: #0065FC;
}

.heb .description
{
    height: 41%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description h2
{
    margin-block-start: 0;
    margin-block-end: 0;
}

.description p
{
    margin-block-start: 7px;
    margin-block-end: 7px;
}

.stars
{
    margin-top: 2px;
}

.star_y, .star_n
{
    width: 14px;
    height: 14px;
}


/* ============================================================= */
/* =============== SECTION - LES PLUS POPULAIRES =============== */
/* ============================================================= */

#pop_d
{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    #pop_d
    {
        border-radius: 0px;
        margin: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1440px)
{
    #pop_d
    {
        width: 27%; /*375px;*/
    }
}

#pop_title
{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pop_icon
{
    width: 20px;
    height: 20px;
}

#pop_block
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop
{
    height: 145px;
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 5px #E3E3E3;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

@media only screen and (max-width: 767px)
{
    .pop
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1439px)
{
    #pop_block
    {
        flex-direction: row;
    }
    .pop
    {
        width: 30%;
    }
}

.pop_img
{
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    /*flex: 0 1 auto;*/
}

.pop .description
{
    box-sizing: border-box;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* =================================================== */
/* =============== SECTION - ACTIVITES =============== */
/* =================================================== */

#activ_s
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    #activ_s
    {
        margin: 20px;
        margin-bottom: 30px;
    }
}

#activ_title
{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 767px)
{
    #activ_title
    {
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

#activ1
{
    grid-area: activ1;
}

#activ2
{
    grid-area: activ2;
}

#activ3
{
    grid-area: activ3;
}

@media only screen and (min-width: 768px)
{
    #activ2
    {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #activ3
    {
        grid-row-start: 4;
        grid-row-end: 6;
    }
}

#activ4
{
    grid-area: activ4;
}

#activ5
{
    grid-area: activ5;
}

#activ6
{
    grid-area: activ6;
}

#activ2and3
{
    grid-area: activ2and3;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas: "activ2"
                         "activ3";
}

@media only screen and (max-width: 767px)
{
    #activ2and3
    {
        grid-template-rows: repeat(2, minmax(200px, auto));
    }
}

#activ5and6
{
    grid-area: activ5and6;
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, auto));
    grid-gap: 10px;
    grid-template-areas: "activ5"
                         "activ6";
}

#activ_block1
{
    width: 100%;
    grid-area: block1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 500px);
    grid-gap: 10px;
    grid-template-areas: "activ1 activ2and3";
}

#activ_block2
{
    width: 100%;
    grid-area: block2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 500px);
    grid-gap: 10px;
    grid-template-areas: "activ4 activ5and6";
}

@media only screen and (max-width: 767px)
{
    #activ_block1
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, auto));
        grid-template-areas: "activ1"
                             "activ2and3";
    }
    
    #activ_block2
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, auto));
        grid-template-areas: "activ4"
                             "activ5and6";
    }
}

#activ_grid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, 500px);
    grid-gap: 10px;
    grid-template-areas: "block1 block2";
}

@media only screen and (max-width: 1439px)
{
    #activ_grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, auto));
        grid-template-areas: "block1"
                             "block2";
    }
}

.activ
{
    height: auto;
    border: 0px white none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 5px #F2F2F2;
    max-height: 480px;
    margin: 20px;
    overflow: hidden;
}

@media only screen and (max-width: 767px)
{
    .activ
    {
        height: 200px;
        margin: 10px;
    }
}

.activ .description
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.act_img
{
    width: 100%;
    height: calc(100% - 60px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/* ====================================== */
/* =============== FOOTER =============== */
/* ====================================== */

footer
{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    footer
    {
        padding: 35px;
    }
}

.footer_el
{
    min-width: 400px;
    max-width: 450px;
}

.footer_el h2
{
    margin-top: 20px;
    margin-bottom: 20px;
}